form {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        display: flex;
        align-items: center;
        flex-direction: column;

        label {
            font-size: 3em;
        }

        input {
            font-size: 4em;
            border-radius: 1rem;
        }
    }

    button {
        font-size: 3em;
        border-radius: 1rem;
        margin-top: 3rem;
        line-height: 9rem;
        width: 32rem;
    }
}

main {
    a {
        font-size: 3em;
        border-radius: 1rem;
        margin-top: 3rem;
        line-height: 9rem;
        width: 32rem;
        text-decoration: none !important;
        color: black !important;
        border: solid 1px black;
        text-align: center;
        background-color: aquamarine;
    }
}